#visualization1 {

   justify-Content: flex-end;
}
.container {
    position: relative;
}

body {
    background: #2d5986;
}

div {
    padding:2px;
}
#map,
#img2,
#img3 {
    position: absolute;
    left: 10px;
}

.imgPanel {
    border-radius: 5px;
    padding: 2px;
    width:50%;
}

#map {
    width: 800px;
    height: 500px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

.View_Header {
    display: inline-block;
    width: 100%;
    height:540px;
    padding:10px;
}

.panelOne {
    float: left;
    height: 540px;
    column-width:730px;
    align-content:center;
}

.panelTwo {
    float: right;
    padding-right: 5px;
    padding:1px;
}

hr.new5 {
    border: 2px solid #00aaff;
    border-radius: 1px;
}

#container {
    overflow: hidden;
    width: 100%;
    min-height: 36px; /* Remember absolute positioning is outside the page flow! */
    position: relative;
}

#middle-element {
    margin: 0 auto;
    text-align: center;
    width: 300px;
}
