
<!DOCTYPE html>
<html>
<head>

	<title>Project II. 5Aces</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/d3Style.css">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		  crossorigin="" />-->
</head>
<body>

	<div class="container">
		<div class="row">
			<table class="table" width="90%" border="0">
				<thead>
					<tr>
						<th bgcolor="#cad2d3" colspan="2">
							<div id="title"><p>Title: New York Gardens.</p></div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr height="570px">
						<td>
							<div id="map" class="panelOne">
								<!--Area for display map & chart-->
							</div>
							<div id="scatter" class="panelOne">
								<!--Area for display map & chart-->
							</div>
							<div id="scatterNY" class="panelOne">
								<!-- We append our chart here. -->
							</div>
							<div id="mapJohnny2" class="panelOne">
								<!--Area for display map & chart-->
							</div>
							<div id="mapJohnny" class="panelOne">
								<!--Area for display map & chart-->
								<img width="800" src="static/images/NYGmap.png" alt="NYG">

							</div>
							
						</td>
						<td width="200">
							<table width="200">
								<tr>
									<td>Select View
										<div>
											<img class="imgPanel" width="150" src="static/images/mapStates.png" alt="view1" id="view1">
										</div>
									</td>
								</tr>
								<tr>
									<td>
										Graduation rate in Georgia.
										<div>
											<img class="imgPanel" width="150" src="static/images/ga_pct.png" alt="view2" id="view2">
										</div>
									</td>
								</tr>
								<tr>
									<td>Graduation rate in New York.
										<div>
											<img class="imgPanel" width="150" src="static/images/ga_grad.png" alt="view3" id="view3">
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div> New Yory Gardens.
											<img class="imgPanel" width="150" src="static/images/NYG.png" alt="view4" id="view4">
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>Georgia Gardens..
											<img class="imgPanel" width="150" src="static/images/GGA.png" alt="view5" id="view5">
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<details>
								<summary>
									<img width="100" class="img1" src="static/images/mapStates.PNG">
								</summary>
								<p>
									<br /><br /><br />
									The ACT score range is from 1-36. As you might imagine, the higher your score, the better you did. But is there a certain cutoff that delineates a "good" ACT score?

									To answer this question, it's important to understand how ACT scores work. Your composite score from 1-36 corresponds to a percentile that compares how you did to the general population of ACT test-takers. A higher percentile means you scored higher than that percent of students. (So, a 55th percentile score means your score was higher than 55% of students).
								</p>
							</details>
						</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/topojson.v2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

	<script type="text/javascript" src="/static/js/appChart.js"></script>
	<script type="text/javascript" src="/static/js/appChartNY.js"></script>
	<script type="text/javascript" src="/static/js/config.js"></script>
	<!--<script type="text/javascript" src="/static/js/nygar.js"></script>-->
	<script type="text/javascript" src="/static/js/gagar.js"></script>
	<script type="text/javascript" src="/static/js/appMap.js"></script>

</body>
</html>


